amqp==5.2.0
asgiref==3.7.2
async-timeout==4.0.3

decouple==0.0.7
Django==4.2.7
django-timezone-field==6.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
PyJWT==2.8.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3.post1
referencing==0.31.0
rpds-py==0.13.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3

